{% extends 'myapp/base.html' %}

{% block title %}reset password | {% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">   
    <form method="post">
        {% csrf_token %}

        <div class="mb-4">
            <h3>Reset password</h3>
        </div>

        <div class="mb-4">
            <hr/>
        </div>

        <div class="mb-4">
            <input type="password" class="form-control" name="new_password1" placeholder="New password" maxlength="20" required>
        </div>

        <div class="mb-4">
            <input type="password" class="form-control" name="new_password2" placeholder="Confirm password" maxlength="20" required>
        </div>

        <button type="submit" class="btn btn-outline-primary">Save</button>
        
        {% if form.errors %}
            <script>
                alert("Error: The password could not be updated.\nPlease review the information and try again.\nAlso, you should choose a strong password.");
            </script>
        {% endif %}
    </form>       
</div>
{% endblock %}